<BackOfficePowerScripts>
	<scripts>
		<add path="~/umbraco/plugins/BackOfficePowerScripts/scripts/btn-our-umbraco.js" priority="100" />
		<add path="~/umbraco/plugins/BackOfficePowerScripts/scripts/sections-href-fix.js" priority="100" />
	</scripts>
	<styles>
		
	</styles>
</BackOfficePowerScripts>