<BackOfficePowerScripts>
	<scripts>
		<add path="~/umbraco/plugins/BackOfficePowerScripts/scripts/btn-our-umbraco.js" targets="umbraco.aspx" />
		<add path="~/umbraco/plugins/BackOfficePowerScripts/scripts/sections-href-fix.js" targets="umbraco.aspx" />
	</scripts>
	<styles>
		<add path="~/umbraco/plugins/BackOfficePowerScripts/styles/fancy-property-name.css" targets="editContent.aspx" />
	</styles>
</BackOfficePowerScripts>